body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    top: 0;
}
nav div {
    padding-top: 5%;
    width: 14.19%;
}
.logo{
    width: 10.19%;
}
.sqr {
    position: relative;
    height: 30%;
    left: 30%;
    width: 30%;
}
.nav-btn {
    width: 18.19%;
}
.nav-btn button {
    bottom: auto;
    border-color: black;
    border-width: medium;
    border-radius: 8%;
    position: relative;
    padding: 9%;
}
.section1-panel{
    box-sizing: border-box;
    float: left;
    height: auto;
    position: relative;
    width: 50%;
}
.section-author {
    font-size: 1.3em;
    height: 70px;
    position: relative;
    margin-top: 30%;
    left: 10%;
    width: 75%;
}
.section-author img{
    border-radius: 8%;
    height: 70px;
    padding-bottom: 0;
    width: 70px;
}
.section-author span {
    vertical-align: 130%;
}
.section-author-name {font-weight: bold;}
.article-title {
    position: relative;
    left: 10%;
    margin-top: 5%;
    width: 75%;
}
.bold{
    font-size: 2.5em;
    font-weight: 800;
}
.comment{
    font-size: 1em;
    font-weight: bold;
}
.section1-list {
    font-size: 0.9em;
    margin-bottom: 15%;
    position: relative;
    left: 10%;
    margin-top: 5%;
    width: 75%;
}
.section1-list ul li{
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}

.arrow{
    left: 10%;
    margin-bottom: 5%;
    position: relative; 
    width:50%;
}
.arrow img{
    width: 10%;
}
.section-2 {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    position: relative;
}
.section2-panel{
    border: 1px solid green;
    box-sizing: border-box;
    padding: 5%;
    width: 33.333%;
}
.stn-2-author {
    padding-top: -3%;
}
.arrow-2 {
    margin-bottom: 5%;
    position: relative; 
    width:50%;
}
.arrow-2 img {
    width: 20%;
}
