body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    top: 0;
}
nav div {
    padding-top: 5%;
    width: 14.19%;
}
.logo{
    width: 10.19%;
}
.sqr {
    position: relative;
    height: 30%;
    left: 30%;
    width: 30%;
}
.nav-btn {
    width: 18.19%;
}
.nav-btn button {
    bottom: auto;
    border-color: black;
    border-width: medium;
    border-radius: 8%;
    position: relative;
    padding: 9%;
}

/*  Section 1  */

.section1-panel{
    box-sizing: border-box;
    float: left;
    height: auto;
    position: relative;
    width: 50%;
}
.section-author {
    font-size: 1.3em;
    height: 70px;
    position: relative;
    margin-top: 30%;
    left: 10%;
    width: 75%;
}
.section-author img{
    border-radius: 8%;
    height: 70px;
    padding-bottom: 0;
    width: 70px;
}
.section-author span {
    vertical-align: 130%;
}
.section-author-name {font-weight: bold;}
.article-title {
    position: relative;
    left: 10%;
    margin-top: 5%;
    width: 75%;
}
.bold{
    font-size: 2.5em;
    font-weight: 800;
}
.comment{
    font-size: 1em;
    font-weight: bold;
}
.section1-list {
    font-size: 0.9em;
    margin-bottom: 15%;
    position: relative;
    left: 10%;
    margin-top: 5%;
    width: 75%;
}
.section1-list ul li{
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
}
.arrow{
    left: 10%;
    margin-bottom: 5%;
    position: relative; 
    width:50%;
}
.arrow img{
    width: 10%;
}

/*  Section 2  */

.section-2 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.section2-panel{
    box-sizing: border-box;
    padding: 5%;
    width: 33.333%;
}
.stn-2-author {
    padding-top: -3%;
}
.arrow-2 {
    margin-bottom: 5%;
    position: relative; 
    width:50%;
}
.arrow-2 img {
    width: 20%;
}

/*  Section 3  */

.section-3 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.sctn-3-1 {
    border: 1px solid red;
    position: relative;
    width: 67%
}
.fox-img {
    left: 40%;
    margin: 0 auto;
    position: relative;
    top: 2%;
    width:25%;
}

.s3-title{
    font-size:2.5em;
    text-align: center;
        
}
.section3-description{
    font-size: 1.2em;
    padding-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    text-align: justify;
}
.s3-button{
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    left: 40%;
    padding: 2%;
    position: relative;
    margin-top: 5%;
}
.account{
    font-size: 1em;
    left: 2%;
    position: relative;
    text-align: center;
}
.sctn-3-2{
    box-sizing: border-box;
    padding: 1% 5% 5% 5%;
    width: 33.333%;
}
.width { 
    border: 1px solid red;
    border-radius: 1%;
    margin: 0 auto;
    width: 90%;
}
.width img {
    width: 20%;
}
.s4-p {
    margin-left: -5%;
}
.section-5 {
    padding: 7%;
    text-align: center;
}
.section-5 a {
    text-decoration: none;
    text-transform: uppercase;
}
.section-5 hr {
    width: 30%;
}
.section-6 {
    border-top: 5px solid red;
    line-height: 2;
    position: relative;
    text-align: center;
}
.section-6 h2 {
    font-size: 2.5em;
    text-decoration: underline;
}
.s6-p {
    font-size: 1.3em;
    padding-left: 20%;
    padding-right: 20%;
}


